{% include "::layout/layout.html.twig"%}
{%block body%}
<div class="container">
    <div class="row">
        <div class="span3">
            {% include "::moduleuzed/navigation.html.twig"%}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                {% include 'UtilisateursBundle:Default:moduleUsed/utilisateurconnecter.html.twig' %}
                {% endif %}
                {% render(controller('EcommerceBundle:Panier:menu')) %}
            </div>
            <div class="span9">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="success alert-success">
                        <tr>
                            <td>
                    {{flashMessage}}
                                </td>
                            </tr>
                        </div>
                  {%endfor%}
                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="success alert-error">
                            <tr>
                                <td>
                    {{flashMessage}}
                                    </td>
                                </tr>
                            </div>
                  {%endfor%}
                            <h2>Factures</h2>
                            <form>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Références</th>
                                            <th>Date</th>
                                            <th>Prix TTC</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                        {% if factures|length ==0 %}
                                    <tr>
                                        <td colspan="4" ><center>Aucune facture actuellement</center></td>
                                    </tr>
                        {%endif%}
                                    <tbody>
                                        {%for facture in factures%}
                                        <tr>
                                            <td><a href="#">Réference : {{facture.reference}}</a></td>
                                            <td>{{facture.date|date('d/m/y')}}</td>
                                            <td>{{facture.commande.TotalTTC}}€</td>
                                            <td><a href="{{path('facturePDF', {'id': facture.id})}}" target="_blanck"><i class="icon-refresh"></i></a></td>
                                        </tr>
                                        {%endfor%}
                                    </tbody>
                                </table>
                            </form>

                        </div>

                    </div>
                </div>
{%endblock%}
{% include "::layout/footer.html.twig" %}