{% include "::layout/layout.html.twig"%}
{% block body %}
<div class="container">
    <div class="row">
        <div class="span3">
              {% include "::moduleuzed/navigation.html.twig"%}
               {% include "::moduleuzed/utilisateur.html.twig"%}
                {% render(controller('EcommerceBundle:Panier:menu')) %}
            </div>
            <div class="span9">
             
                <div class="row">

                    <div class="span5">
                        <img src="{{produit.image.path}}" alt="DevAndClick" width="470" height="310">
                    </div>

                    <div class="span4">
                        <h4>{{produit.nom}}</h4>
                        <h5>{{produit.reference}}</h5>
                        <p>{{produit.description}}</p>
                        <p>{{produit.prix|tva(produit.tva.multiplicate)}} €</p>
                        {% if panier[produit.id] is not defined %}
                        <form action="{{path('ajouter' , {'id': produit.id})}}" method="get">
                            <select  name="qte" class="span1">
                                    {%for i in 1..10 %}
                                    <option value="{{i}}">{{i}}</option>
                                    {%endfor%}
                                </select>
                                <div>
                                    <button class="btn btn-primary">Ajouter au panier</button>
                                </div>
                            </form>
                        {%else %}
                        <a href="{{path('panier')}}" class="btn btn-primary">Le Produit Existe Déja dont le panier</a>
                        {% endif%}
                        </div>
                    </div>

                </div>
            </div>
        </div>
{% endblock  %}
 {% include "::layout/footer.html.twig" %}
