<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8" />
        <title>{% block title %}BienVenue{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href=" {{asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}" />
       {% block stylesheets %} {% endblock %}
        {#% block image %}{% endblock %#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% include "::layout/header.html.twig" %}
    {% block body %}{% endblock %}  
        </body>
     {% block javascripts %}
        <script src="{{asset('js/jquery1.10.0.min.js')}}"></script>
        <script src="{{asset('js/bootstrap.js')}}"></script> 
    {% endblock %} 
    </html>

