<!DOCTYPE html>
<html>
    <head>
        <meta charset=UTF-8" />
        <title>{% block title %}Ecommerce Site -By Rafik{% endblock %}</title>
        <meta name="keywords" content="{% block motsCles %} {% endblock %}"  />
        <meta name="description" content="{% block description %} {% endblock %}"  />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href=" {{asset('css/bootstrap-responsive.css') }}" />
        <link rel="stylesheet" href="{{asset('css/style.css')}}" />
        <link rel="stylesheet" href="{{asset('css/font-awesome.css')}}" />
       {% block stylesheets %} {% endblock %}
        {#% block image %}{% endblock %#}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <button class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse" type="button">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="brand" href="index.php">Administration</a>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
{% include '::moduleuzed/navigationAdmin.html.twig' %}
                    <div class="span9">
                        <h2>Facture du jour </h2>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Références</th>
                                    <th>Client: </th>
                                    <th>Date</th>
                                    <th>Prix TTC</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#">AB29837</a></td>
                                    <td><a href="#">M Catelain</a></td>
                                    <td>20/02/2014</td>
                                    <td>333,33 $</td>
                                    <td>
                                        <a href="#" ><i class="icon-refresh"></i></a>
                                        <a href="#" ><i class="icon-refresh"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="#">AB29837</a></td>
                                    <td><a href="#">M Catelain</a></td>
                                    <td>20/02/2014</td>
                                    <td>333,33 $</td>
                                    <td>
                                        <a href="#" ><i class="icon-refresh"></i></a>
                                        <a href="#" ><i class="icon-refresh"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />

            <footer id="footer" class="vspace20">
                <div class="container">
                    <div class="row">
                        <div class="span4">
                            <p>&copy; Copyright 2014 -DevAndClick</p>
                        </div>
                    </div>
                </div>
            </footer>
     {% block javascripts %}
            <script src="{{asset('js/jquery1.10.0.min.js')}}"></script>
            <script src="{{asset('js/bootstrap.js')}}"></script> 
    {% endblock %}
        </body>
    </html>